* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #EFE1B5;
}
.card {
    background: #CDB885;
}
.card:hover {
    background: #5DD3B6;
}
nav {
    background: #6e5034; 
    display: flex;
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    list-style: none;
    margin: auto;
}

nav li {
    margin-right: 20px;
    font-size: 21px;
}

nav a {
    display: block;
    padding: 15px;
    color: #EFE1B5;
    text-decoration: none;
}

nav a:hover {
    background: #5DD3B6;
    color: #6e5034;
}

html {
    scroll-behavior: smooth;
}