* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
h1 {
    margin: 20px;
}

.footer {
    margin-top: 48px;
    text-align: center;
}
.jadwal-adzan {
    text-align: center;
    margin: 26px;
}
.adzan {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 21px;
}
.waktu {
    text-align: center;
    margin: 16px;
}