* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
h1 {
    margin: 20px;
}

.footer {
    margin-top: 48px;
    text-align: center;
}