* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: #222; 
    display: flex;
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    list-style: none;
    margin: auto;
}

nav li {
    margin-right: 20px;
    font-size: 21px;
}

nav a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background: #444;
}

html {
    scroll-behavior: smooth;
}